* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-size: medium;
    color: #09a2ff;
}

#upload1 {
    border-radius: 25px;
    border: 5px solid #09a2ff;
    background-color: white;
    width: 50%;
    margin: auto;
}

.wrapper {
    width: 35%;
    height: 35%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.wrapper .file-upload {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #FFFFFF;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #09a2ff 50%, #FFFFFF 50%);
    background-size: 100% 200%;
    transition: all 1s;
    color: #FFFFFF;
    font-size: 100px;
}

.wrapper .file-upload input[type=file] {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.wrapper .file-upload:hover {
    background-position: 0 -100%;
    color: #09a2ff;
}

#ic {
    color: white;
}

.go_back {
    border-radius: 40px;
    background-color: #09a2ff;
    box-shadow: 0 5px 10px -5px gray;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 140px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.go_back span {
    color: white;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.go_back span:after {
    content: '\00ab';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -15px;
    transition: 0.5s;
}

.go_back:hover span {
    padding-left: 25px;
}

.go_back:hover span:after {
    opacity: 1;
    left: 5px;
}

#show_img span:after {
    content: '\00bb';
    left: 0;
    right: -170px;
}

#show_img {
    width: 220px;
}

#show_img:hover span {
    padding-left: 0;
    padding-right: 25px;
}

#show_img:hover span:after {
    opacity: 1;
    left: 0;
    right: -150px;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #09a2ff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 40px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 40px;
}

.glow-on-hover:active {
    color: #09a2ff
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #09a2ff;
    left: 0;
    top: 0;
    border-radius: 40px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.btn_o {
    background: transparent;
    width: 155px;
    height: 40px;
    position: relative;
    padding: 7px;
    color: #09a2ff;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 300ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    border-radius: 4px;
    font-weight: 600;
    overflow: hidden;
    border: 2px solid #09a2ff;
    text-decoration: none;
}

.btn_o:hover {
    transform: scale(1.02);
    box-shadow: 0 15px 20px -15px gray;
}

.btn_o:active {
    transform: scale(.98);
    box-shadow: 0 5px 10px -5px gray;
}

/* In Progress Button */
.btn_o-progress {
    width: 170px;
    color: transparent;
}

.btn_o-fill:after {
    content: '';
    background: #09a2ff;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: scaleX(0);
    transform-origin: 0;
    display: block;
    animation: fill 1.6s linear forwards;
}

/* Button Complete */
.btn_o-complete {
    padding: 2px;
    width: 50px;
    color: #fff;
    pointer-events: none;
}

.btn_o-complete:after {
    font-family: "Font Awesome 5 Free", sans-serif;
    content: "\f00c";
    color: #fff;
    height: 100%;
    padding-left: 2px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #09a2ff;
}

i {
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;

}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 25%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Animation */
@keyframes fill {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}
.buttonl {
    border-radius: 40px;
    box-shadow: 0 5px 10px -5px gray;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 100px;
    margin: 5px;
}