 #switch {
            border: 2px #2196F3;
            background-color: white;
            color: dodgerblue;
            font-weight: bold;
            padding: 12px 20px;
            font-size: 16px;
            cursor: pointer;
        }
@media(hover: hover) and (pointer: fine) {
    #switch:hover {
        background: #2196F3;
        color: white;
    }
}

#switch:active {
    background: #2196F3;
    color: white;
}